<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
{{>navbar}}
    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="shewe" class="img-fluid" title="sheweweather">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h1>I am a <span class="text_clr">MERN Stack Developer</span> and Python developer & Engineer at Fractal. </h1>
                        <a href="https://leetcode.com/aigen1305/" target="_shewe"><button>Leetcode profile</button></a>
                    </div>
                    <!-- right side div  -->
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
{{>footer}}
</body>
</html>